<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Петров пост</key>
	<string>Пост начинается через неделю после Дня Святой Троицы и завершается 12 июля, в день святых первоверховных апостолов Петра и Павла.\nВ течение поста нельзя вкушать мясные и молочные продукты, а также яйца. Рыбу можно есть во все дни, кроме понедельника, среды и пятницы.
    </string>
    <key>Растительная пища</key>
    <string>Разрешается употреблять любую растительную пищу, приготовленную на огне с использованием растительного масла, а также хлеб.\nПолностью исключаются из рациона мясные и молочные продукты, яйца, рыба.
    </string>
</dict>
</plist>
