<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>Matthew 18:10-20</string>
<string>Matthew 4:25,5:1-13</string>
<string>Matthew 5:20-26</string>
<string>Matthew 5:27-32</string>
<string>Matthew 5:33-41</string>
<string>Matthew 5:42-48</string>
<string>Matthew 10:32-33,37-38,19:27-30</string>
<string>Matthew 6:31-34,7:9-11</string>
<string>Matthew 7:15-21</string>
<string>Matthew 7:21-23</string>
<string>Matthew 8:23-27</string>
<string>Matthew 9:14-17</string>
<string>Matthew 7:1-8</string>
<string>Matthew 4:18-23</string>
<string>Matthew 9:36-10:8</string>
<string>Matthew 10:9-15</string>
<string>Matthew 10:16-22</string>
<string>Matthew 10:23-31</string>
<string>Matthew 10:32-36,11:1</string>
<string>Matthew 7:24-8:4</string>
<string>Matthew 6:22-33</string>
<string>Matthew 11:2-15</string>
<string>Matthew 11:16-20</string>
<string>Matthew 11:20-26</string>
<string>Matthew 11:27-30</string>
<string>Matthew 12:1-8</string>
<string>Matthew 8:14-23</string>
<string>Matthew 8:5-13</string>
<string>Matthew 12:9-13</string>
<string>Matthew 12:14-16,22-30</string>
<string>Matthew 12:38-45</string>
<string>Matthew 12:46-13:3</string>
<string>Matthew 13:4-9</string>
<string>Matthew 9:9-13</string>
<string>Matthew 8:28-9:1</string>
<string>Matthew 13:10-23</string>
<string>Matthew 13:24-30</string>
<string>Matthew 13:31-36</string>
<string>Matthew 13:36-43</string>
<string>Matthew 13:44-54</string>
<string>Matthew 9:18-26</string>
<string>Matthew 9:1-8</string>
<string>Matthew 13:54-58</string>
<string>Matthew 14:1-13</string>
<string>Matthew 14:35-15:11</string>
<string>Matthew 15:12-21</string>
<string>Matthew 15:29-31</string>
<string>Matthew 10:37-11:1</string>
<string>Matthew 9:27-35</string>
<string>Matthew 16:1-6</string>
<string>Matthew 16:6-12</string>
<string>Matthew 16:20-24</string>
<string>Matthew 16:24-28</string>
<string>Matthew 17:10-18</string>
<string>Matthew 12:30-37</string>
<string>Matthew 14:14-22</string>
<string>Matthew 18:1-11</string>
<string>Matthew 18:18-22,19:1-2,13-15</string>
<string>Matthew 20:1-16</string>
<string>Matthew 20:17-28</string>
<string>Matthew 21:12-14,17-20</string>
<string>Matthew 15:32-39</string>
<string>Matthew 14:22-34</string>
<string>Matthew 21:18-22</string>
<string>Matthew 21:23-27</string>
<string>Matthew 21:28-32</string>
<string>Matthew 21:43-46</string>
<string>Matthew 22:23-33</string>
<string>Matthew 17:24-18:4</string>
<string>Matthew 17:14-23</string>
<string>Matthew 23:13-22</string>
<string>Matthew 23:23-28</string>
<string>Matthew 23:29-39</string>
<string>Matthew 24:13-28</string>
<string>Matthew 24:27-33,42-51</string>
<string>Matthew 19:3-12</string>
<string>Matthew 18:23-35</string>
<string>Mark 1:9-15</string>
<string>Mark 1:16-22</string>
<string>Mark 1:23-28</string>
<string>Mark 1:29-35</string>
<string>Mark 2:18-22</string>
<string>Matthew 20:29-34</string>
<string>Matthew 19:16-26</string>
<string>Mark 3:6-12</string>
<string>Mark 3:13-19</string>
<string>Mark 3:20-27</string>
<string>Mark 3:28-35</string>
<string>Mark 4:1-9</string>
<string>Matthew 22:15-22</string>
<string>Matthew 21:33-42</string>
<string>Mark 4:10-23</string>
<string>Mark 4:24-34</string>
<string>Mark 4:35-41</string>
<string>Mark 5:1-20</string>
<string>Mark 5:22-24,35-6:1</string>
<string>Matthew 23:1-12</string>
<string>Matthew 22:1-14</string>
<string>Mark 5:24-34</string>
<string>Mark 6:1-7</string>
<string>Mark 6:7-13</string>
<string>Mark 6:30-45</string>
<string>Mark 6:45-53</string>
<string>Matthew 24:1-13</string>
<string>Matthew 22:35-46</string>
<string>Mark 6:54-7:8</string>
<string>Mark 7:5-16</string>
<string>Mark 7:14-24</string>
<string>Mark 7:24-30</string>
<string>Mark 8:1-10</string>
<string>Matthew 24:34-44</string>
<string>Matthew 25:14-30</string>
<string>Mark 10:46-52</string>
<string>Mark 11:11-23</string>
<string>Mark 11:23-26</string>
<string>Mark 11:27-33</string>
<string>Mark 12:1-12</string>
<string>Matthew 25:1-13</string>
<string>Matthew 15:21-28</string>

</array>
</plist>
