<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Matthew</key>
	<string>太／玛</string>
	<key>Mark</key>
	<string>可／谷</string>
	<key>Luke</key>
	<string>路</string>
	<key>John</key>
	<string>约／若</string>
	<key>Acts</key>
	<string>徒／宗</string>
	<key>Rom</key>
	<string>罗</string>
	<key>1Cor</key>
	<string>林前／格前</string>
	<key>2Cor</key>
	<string>林後／格後</string>
	<key>Gal</key>
	<string>加／迦</string>
	<key>Ephes</key>
	<string>弗</string>
	<key>Phil</key>
	<string>腓／斐</string>
	<key>Col</key>
	<string>西／哥</string>
	<key>1Thess</key>
	<string>帖前／得前</string>
	<key>2Thess</key>
	<string>帖后／得后</string>
	<key>1Tim</key>
	<string>提前／弟前</string>
	<key>2Tim</key>
	<string>提后／弟后</string>
	<key>Tit</key>
	<string>多／铎</string>
	<key>Philem</key>
	<string>门／费</string>
	<key>Heb</key>
	<string>来／希</string>
	<key>James</key>
	<string>雅</string>
	<key>1Pet</key>
	<string>彼前／伯前</string>
	<key>2Pet</key>
	<string>彼后／伯后</string>
	<key>1John</key>
	<string>约壹／若一</string>
	<key>2John</key>
	<string>约贰／若二</string>
	<key>3John</key>
	<string>约叄／若三</string>
	<key>Jude</key>
	<string>犹</string>
	<key>Rev</key>
	<string>启／默</string>
	<key>Gen</key>
	<string>创</string>
	<key>Prov</key>
	<string>箴</string>
	<key>Isa</key>
	<string>赛／依</string>
</dict>
</plist>
