<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>Luke 3:19-22</string>
<string>Luke 3:23-4:1</string>
<string>Luke 4:1-15</string>
<string>Luke 4:16-22</string>
<string>Luke 4:22-30</string>
<string>Luke 4:31-36</string>
<string>Luke 5:1-11</string>
<string>Luke 4:37-44</string>
<string>Luke 5:12-16</string>
<string>Luke 5:33-39</string>
<string>Luke 6:12-19</string>
<string>Luke 6:17-23</string>
<string>Luke 5:17-26</string>
<string>Luke 6:31-36</string>
<string>Luke 6:24-30</string>
<string>Luke 6:37-45</string>
<string>Luke 6:46-7:1</string>
<string>Luke 7:17-30</string>
<string>Luke 7:31-35</string>
<string>Luke 5:27-32</string>
<string>Luke 7:11-16</string>
<string>Luke 7:36-50</string>
<string>Luke 8:1-3</string>
<string>Luke 8:22-25</string>
<string>Luke 9:7-11</string>
<string>Luke 9:12-18</string>
<string>Luke 6:1-10</string>
<string>Luke 8:5-15</string>
<string>Luke 9:18-22</string>
<string>Luke 9:23-27</string>
<string>Luke 9:44-50</string>
<string>Luke 9:49-56</string>
<string>Luke 10:1-15</string>
<string>Luke 7:2-10</string>
<string>Luke 16:19-31</string>
<string>Luke 10:22-24</string>
<string>Luke 11:1-10</string>
<string>Luke 11:9-13</string>
<string>Luke 11:14-23</string>
<string>Luke 11:23-26</string>
<string>Luke 8:16-21</string>
<string>Luke 8:26-39</string>
<string>Luke 11:29-33</string>
<string>Luke 11:34-41</string>
<string>Luke 11:42-46</string>
<string>Luke 11:47-12:1</string>
<string>Luke 12:2-12</string>
<string>Luke 9:1-6</string>
<string>Luke 8:41-56</string>
<string>Luke 12:13-15,22-31</string>
<string>Luke 12:42-48</string>
<string>Luke 12:48-59</string>
<string>Luke 13:1-9</string>
<string>Luke 13:31-35</string>
<string>Luke 9:37-43</string>
<string>Luke 10:25-37</string>
<string>Luke 14:12-15</string>
<string>Luke 14:25-35</string>
<string>Luke 15:1-10</string>
<string>Luke 16:1-9</string>
<string>Luke 16:15-18,17:1-4</string>
<string>Luke 9:57-62</string>
<string>Luke 12:16-21</string>
<string>Luke 17:20-25</string>
<string>Luke 17:26-37</string>
<string>Luke 18:15-17,26-30</string>
<string>Luke 18:31-34</string>
<string>Luke 19:12-28</string>
<string>Luke 10:19-21</string>
<string>Luke 13:10-17</string>
<string>Luke 19:37-44</string>
<string>Luke 19:45-48</string>
<string>Luke 20:1-8</string>
<string>Luke 20:9-18</string>
<string>Luke 20:19-26</string>
<string>Luke 12:32-40</string>
<string>Luke 14:16-24</string>
<string>Luke 20:27-44</string>
<string>Luke 21:12-19</string>
<string>Luke 21:5-7,10-11,20-24</string>
<string>Luke 21:28-33</string>
<string>Luke 21:37-22:8</string>
<string>Luke 13:18-29</string>
<string>Luke 17:12-19</string>
<string>Mark 8:11-21</string>
<string>Mark 8:22-26</string>
<string>Mark 8:30-34</string>
<string>Mark 9:10-16</string>
<string>Mark 9:33-41</string>
<string>Luke 14:1-11</string>
<string>Luke 18:18-27</string>
<string>Mark 9:42-10:1</string>
<string>Mark 10:2-12</string>
<string>Mark 10:11-16</string>
<string>Mark 10:17-27</string>
<string>Mark 10:23-32</string>
<string>Luke 16:10-15</string>
<string>Luke 18:35-43</string>
<string>Mark 10:46-52</string>
<string>Mark 11:11-23</string>
<string>Mark 11:23-26</string>
<string>Mark 11:27-33</string>
<string>Mark 12:1-12</string>
<string>Luke 17:3-10</string>
<string>Luke 19:1-10</string>
<string>Mark 12:13-17</string>
<string>Mark 12:18-27</string>
<string>Mark 12:28-37</string>
<string>Mark 12:38-44</string>
<string>Mark 13:1-8</string>
<string>Luke 18:2-8</string>
</array>
</plist>
