<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1Cor</key>
	<string>林前／格前</string>
	<key>1John</key>
	<string>約壹／若一</string>
	<key>1Pet</key>
	<string>彼前／伯前</string>
	<key>1Thess</key>
	<string>帖前／得前</string>
	<key>1Tim</key>
	<string>提前／弟前</string>
	<key>2Cor</key>
	<string>林後／格後</string>
	<key>2John</key>
	<string>約貳／若二</string>
	<key>2Pet</key>
	<string>彼後／伯後</string>
	<key>2Thess</key>
	<string>帖後／得後</string>
	<key>2Tim</key>
	<string>提後／弟後</string>
	<key>3John</key>
	<string>約叄／若三</string>
	<key>Acts</key>
	<string>徒／宗</string>
	<key>Col</key>
	<string>西／哥</string>
	<key>Ephes</key>
	<string>弗</string>
	<key>Gal</key>
	<string>加／迦</string>
	<key>Gen</key>
	<string>創</string>
	<key>Heb</key>
	<string>來／希</string>
	<key>Isa</key>
	<string>賽／依</string>
	<key>James</key>
	<string>雅</string>
	<key>Joel</key>
	<string>珥／岳</string>
	<key>John</key>
	<string>約／若</string>
	<key>Jude</key>
	<string>猶</string>
	<key>Luke</key>
	<string>路</string>
	<key>Mark</key>
	<string>可／谷</string>
	<key>Matthew</key>
	<string>太／瑪</string>
	<key>Phil</key>
	<string>腓／斐</string>
	<key>Philem</key>
	<string>門／費</string>
	<key>Prov</key>
	<string>箴</string>
	<key>Rev</key>
	<string>啟／默</string>
	<key>Rom</key>
	<string>羅</string>
	<key>Tit</key>
	<string>多／鐸</string>
	<key>Zech</key>
	<string>亞／匝</string>
</dict>
</plist>
