<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gospel of St Matthew</key>
	<string>玛窦福音</string>
	<key>Gospel of St Mark</key>
	<string>马尔谷福音</string>
	<key>Gospel of St Luke</key>
	<string>路加福音</string>
	<key>Gospel of St John</key>
	<string>若望福音</string>
	<key>Acts of the Apostles</key>
	<string>宗徒大事录</string>
	<key>Epistle of St Paul to Romans</key>
	<string>罗马书</string>
	<key>1st Epistle of St Paul to Corinthians</key>
	<string>格林多前书</string>
	<key>2nd Epistle of St Paul to Corinthians</key>
	<string>格林多后书</string>
	<key>Epistle of St Paul to Galatians</key>
	<string>迦拉达书</string>
	<key>Epistle of St Paul to Ephesians</key>
	<string>厄弗所书</string>
	<key>Epistle of St Paul to Philippians</key>
	<string>斐理伯书</string>
	<key>Epistle of St Paul to Colossians</key>
	<string>哥罗森书</string>
	<key>1st Epistle of St Paul Thessalonians</key>
	<string>得撒洛尼前书</string>
	<key>2nd Epistle of St Paul Thessalonians</key>
	<string>得撒洛尼后书</string>
	<key>1st Epistle of St Paul to Timothy</key>
	<string>弟茂德前书</string>
	<key>2nd Epistle of St Paul to Timothy</key>
	<string>弟茂德后书</string>
	<key>Epistle of St Paul to Titus</key>
	<string>弟铎书</string>
	<key>Epistle of St Paul to Philemon</key>
	<string>费肋孟书</string>
	<key>Epistle of St Paul to Hebrews</key>
	<string>希伯来书</string>
	<key>General Epistle of James</key>
	<string>雅各伯书</string>
	<key>1st Epistle General of Peter</key>
	<string>伯多禄前书</string>
	<key>2nd General Epistle of Peter</key>
	<string>伯多禄后书</string>
	<key>1st Epistle General of John</key>
	<string>若望一书</string>
	<key>2nd Epistle General of John</key>
	<string>若望二书</string>
	<key>3rd Epistle General of John</key>
	<string>若望三书</string>
	<key>General Epistle of Jude</key>
	<string>犹达书</string>
	<key>Revelation of St John the Devine</key>
	<string>若望默示录</string>
	<key>Chapter %@</key>
	<string>第%@章</string>
	<key>Kathisma %@</key>
	<string>第%@分</string>
	<key>New Testament</key>
	<string>新约全书</string>
	<key>Old Testament</key>
	<string>旧约全书</string>
	<key>Five Books of Moses</key>
	<string>梅瑟五书</string>
	<key>Historical books</key>
	<string>历史书</string>
	<key>Wisdom books</key>
	<string>智慧书</string>
	<key>Prophets books</key>
	<string>先知书</string>
	<key>Four Gospels and Acts</key>
	<string>四福音书及使徒行传</string>
	<key>Catholic Epistles</key>
	<string>宗徒若望的书信</string>
	<key>Epistles of Paul</key>
	<string>宗徒保禄致各教会的书信</string>
	<key>Apocalypse</key>
	<string>默示录（启示录）</string>
	<key>Stasis</key>
	<string>荣光赞词</string>
    <key>Genesis</key>
    <string>创世纪</string>
    <key>Exodus</key>
    <string>出谷纪</string>
    <key>Leviticus</key>
    <string>肋未纪</string>
    <key>Numbers</key>
    <string>户籍纪</string>
    <key>Deuteronomy</key>
    <string>申命纪</string>
    <key>Joshua</key>
    <string>若苏厄书</string>
    <key>Judges</key>
    <string>民长纪</string>
    <key>Ruth</key>
    <string>卢德传</string>
    <key>1 Samuel</key>
    <string>撒慕尔纪上</string>
    <key>2 Samuel</key>
    <string>撒慕尔纪下</string>
    <key>1 Kings</key>
    <string>列王纪上</string>
    <key>2 Kings</key>
    <string>列王纪下</string>
    <key>1 Chronicles</key>
    <string>编年纪上</string>
    <key>2 Chronicles</key>
    <string>编年纪下</string>
    <key>Ezra</key>
    <string>厄斯德拉上</string>
    <key>Nehemiah</key>
    <string>厄斯德拉下</string>
    <key>Esther</key>
    <string>艾斯德尔传</string>
    <key>Job</key>
    <string>约伯传</string>
    <key>Psalms</key>
    <string>圣咏集</string>
    <key>Proverbs</key>
    <string>箴言</string>
    <key>Ecclesiastes</key>
    <string>训道篇</string>
    <key>Song of Solomon</key>
    <string>雅歌</string>
    <key>Isaiah</key>
    <string>依撒意亚</string>
    <key>Jeremiah</key>
    <string>耶肋米亚</string>
    <key>Lamentations</key>
    <string>耶肋米亚哀歌</string>
    <key>Ezekiel</key>
    <string>厄则克耳</string>
    <key>Daniel</key>
    <string>达尼尔</string>
    <key>Hosea</key>
    <string>欧瑟亚</string>
    <key>Joel</key>
    <string>岳厄尔</string>
    <key>Amos</key>
    <string>亚毛斯</string>
    <key>Obadiah</key>
    <string>亚北底亚</string>
    <key>Jonah</key>
    <string>约纳</string>
    <key>Micah</key>
    <string>米该亚</string>
    <key>Nahum</key>
    <string>纳鸿</string>
    <key>Habakkuk</key>
    <string>哈巴谷</string>
    <key>Zephaniah</key>
    <string>索福尼亚</string>
    <key>Haggai</key>
    <string>哈盖</string>
    <key>Zechariah</key>
    <string>匝加利亚</string>
    <key>Malachi</key>
    <string>玛拉基亚</string>
    
</dict>
</plist>
