<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pascha</key>
	<string>PASCHA. The Bright and Glorious Resurrection of our Lord, God, and Saviour Jesus Christ</string>
	<key>pentecost</key>
	<string>Pentecost. Sunday of the Holy Trinity. Descent of the Holy Spirit on the Apostles</string>
	<key>ascension</key>
	<string>Ascension of our Lord, God, and Saviour Jesus Christ</string>
	<key>palmSunday</key>
	<string>Palm Sunday. Entrance of our Lord into Jerusalem</string>
	<key>nativityOfGod</key>
	<string>The Nativity of our Lord God and Savior Jesus Christ</string>
	<key>theophany</key>
	<string>Holy Theophany: the Baptism of Our Lord, God, and Saviour Jesus Christ</string>
	<key>meetingOfLord</key>
	<string>The Meeting of our Lord, God, and Saviour Jesus Christ in the Temple</string>
	<key>annunciation</key>
	<string>The Annunciation of our Most Holy Lady, Theotokos and Ever-Virgin Mary</string>
	<key>peterAndPaul</key>
	<string>The Holy Glorious and All-Praised Leaders of the Apostles, Peter and Paul</string>
	<key>transfiguration</key>
	<string>The Holy Transfiguration of Our Lord God and Saviour Jesus Christ</string>
	<key>dormition</key>
	<string>The Dormition (Repose) of our Most Holy Lady Theotokos and Ever-Virgin Mary</string>
	<key>nativityOfTheotokos</key>
	<string>Nativity of Our Most Holy Lady Theotokos and Ever-Virgin Mary</string>
	<key>exaltationOfCross</key>
	<string>The Universal Exaltation of the Precious and Life-Giving Cross</string>
	<key>entryIntoTemple</key>
	<string>Entry into the Temple of our Most Holy Lady Theotokos and Ever-Virgin Mary</string>
	<key>circumcision</key>
	<string>Circumcision of our Lord</string>
	<key>veilOfTheotokos</key>
	<string>Protection of Our Most Holy Lady Theotokos and Ever-Virgin Mary</string>
	<key>nativityOfJohn</key>
	<string>Nativity of the Holy Glorious Prophet, Forerunner, and Baptist of the Lord, John</string>
	<key>beheadingOfJohn</key>
	<string>The Beheading of the Holy Glorious Prophet, Forerunner and Baptist of the Lord, John</string>
	<key>eveOfNativityOfGod</key>
	<string>Eve of the Nativity of Christ</string>
	<key>eveOfTheophany</key>
	<string>Eve of Theophany</string>
	<key>sundayOfPublicianAndPharisee</key>
	<string>Sunday of the Publican and the Pharisee</string>
	<key>sundayOfProdigalSon</key>
	<string>Sunday of the Prodigal Son</string>
	<key>sundayOfDreadJudgement</key>
	<string>Sunday of the Dread Judgement</string>
	<key>cheesefareSunday</key>
	<string>Cheesefare Sunday (Forgiveness Sunday): Commemoration of the Expulsion of Adam from Paradise</string>
	<key>beginningOfGreatLent</key>
	<string>Beginning of Great Lent</string>
	<key>beginningOfDormitionFast</key>
	<string>Beginning of Dormition fast</string>
	<key>beginningOfNativityFast</key>
	<string>Beginning of Nativity fast</string>
	<key>beginningOfApostlesFast</key>
	<string>Beginning of Apostles&apos; fast</string>
	<key>sundayOfForefathers</key>
	<string>Sunday of the Holy Forefathers</string>
	<key>saturdayBeforeNativity</key>
	<string>Saturday before the Nativity of Christ</string>
	<key>sundayBeforeNativity</key>
	<string>Sunday before the Nativity of Christ, of the Fathers</string>
	<key>saturdayAfterNativity</key>
	<string>Saturday after the Nativity of Christ</string>
	<key>sundayAfterNativity</key>
	<string>Sunday after Nativity of Christ</string>
	<key>saturdayBeforeExaltation</key>
	<string>Saturday before the Exaltation</string>
	<key>sundayBeforeExaltation</key>
	<string>Sunday before the Exaltation</string>
	<key>saturdayAfterExaltation</key>
	<string>Saturday after the Exaltation</string>
	<key>sundayAfterExaltation</key>
	<string>Sunday after the Exaltation</string>
	<key>saturdayBeforeTheophany</key>
	<string>Saturday before Theophany</string>
	<key>sundayBeforeTheophany</key>
	<string>Sunday before Theophany</string>
	<key>saturdayAfterTheophany</key>
	<string>Saturday after Theophany</string>
	<key>sundayAfterTheophany</key>
	<string>Sunday after Theophany</string>
	<key>saturday1GreatLent</key>
	<string>Great Martyr Theodore the Recruit († c. 306)</string>
	<key>sunday1GreatLent</key>
	<string>Triumph of Orthodoxy</string>
	<key>saturday2GreatLent</key>
	<string>Commemoration of the Departed</string>
	<key>sunday2GreatLent</key>
	<string>Saint Gregory Palamas, Archbishop of Thessalonica († c. 1360)</string>
	<key>saturday3GreatLent</key>
	<string>Commemoration of the Departed</string>
	<key>sunday3GreatLent</key>
	<string>Veneration of the Precious Cross</string>
	<key>saturday4GreatLent</key>
	<string>Commemoration of the Departed</string>
	<key>sunday4GreatLent</key>
	<string>Venerable John Climacus of Sinai, Author of “the Ladder” († 649)</string>
	<key>thursday5GreatLent</key>
	<string>Thursday of the Great Canon, with the Life of St. Mary of Egypt</string>
	<key>saturday5GreatLent</key>
	<string>Saturday of the Akathist; Laudation of the Most Holy Theotokos</string>
	<key>sunday5GreatLent</key>
	<string>Venerable Mary of Egypt</string>
	<key>lazarusSaturday</key>
	<string>Saturday of Palms (Lazarus Saturday)</string>
	<key>greatMonday</key>
	<string>Great Monday</string>
	<key>greatTuesday</key>
	<string>Great Tuesday</string>
	<key>greatWednesday</key>
	<string>Great Wednesday</string>
	<key>greatThursday</key>
	<string>Great Thursday</string>
	<key>greatFriday</key>
	<string>Great Friday</string>
	<key>greatSaturday</key>
	<string>Great Saturday</string>
	<key>sunday2AfterPascha</key>
	<string>Second Sunday after Pascha. Thomas Sunday, or Antipascha</string>
	<key>sunday3AfterPascha</key>
	<string>Third Sunday after Pascha. Sunday of the Myrrhbearing Women</string>
	<key>sunday4AfterPascha</key>
	<string>Fourth Sunday after Pascha. Sunday of the Paralytic</string>
	<key>sunday5AfterPascha</key>
	<string>Fifth Sunday after Pascha. Sunday of the Samaritan Woman</string>
	<key>sunday6AfterPascha</key>
	<string>Sixth Sunday after Pascha. Sunday of the Blind Man</string>
	<key>sunday7AfterPascha</key>
	<string>Seventh Sunday after Pascha. Commemoration of the 318 Holy Fathers of the First Ecumenical Council (325)</string>
	<key>radonitsa</key>
	<string>Radonitsa (Day of Rejoicing)</string>
	<key>midPentecost</key>
	<string>Mid-Pentecost</string>
	<key>saturdayTrinity</key>
	<string>Trinity Saturday; Commemoration of the Departed</string>
	<key>holySpirit</key>
	<string>Day of the Holy Spirit</string>
	<key>sunday1AfterPentecost</key>
	<string>Feast of All Saints</string>
	<key>sunday2AfterPentecost</key>
	<string>All Saints who have shown forth in the land of Russia</string>
	<key>saturdayOfDeparted</key>
	<string>The Saturday of the Dead</string>
	<key>saturdayOfFathers</key>
	<string>Commemoration of all the saints, who showed forth in asceticism</string>
	<key>demetriusSaturday</key>
	<string>Demetrius Saturday: Commemoration of the Departed</string>
	<key>killedInAction</key>
	<string>Commemoration of Fallen Soldiers</string>
	<key>newMartyrsConfessorsOfRussia</key>
	<string>Holy New Martyrs and Confessors of Russia</string>
	<key>josephBetrothed</key>
	<string>Saints Joseph the Betrothed, David the King, and James the Brother of the Lord</string>
	<key>holyFathersSixCouncils</key>
	<string>Commemoration of the Holy Fathers of the First Six Councils</string>
	<key>holyFathersSeventhCouncil</key>
	<string>Commemoration of the Holy Fathers of the Seventh Ecumenical Council</string>
	<key>synaxisKievCavesSaints</key>
	<string>Synaxis of all Venerable Fathers of the Kiev Caves</string>
	<key>synaxisMartyrsButovo</key>
	<string>Synaxis of New Martyrs of Butovo</string>
	<key>synaxisMountAthosSaints</key>
	<string>All Saints of the Holy Mount Athos</string>
	<key>synaxisMoscowSaints</key>
	<string>Synaxis of all saints of Moscow</string>
	<key>synaxisNizhnyNovgorodSaints</key>
	<string>Synaxis of all saints of Nizhny Novgorod</string>
	<key>josephArimathea</key>
	<string>St Joseph of Arimathea, and Nicodemus</string>
	<key>tamaraGeorgia</key>
	<string>Right-believing Tamara, Queen of Georgia († 1213)</string>
	<key>abrahamBulgar</key>
	<string>Holy Martyr Abraham the Bulgar, Wonderworker of Vladimir († 1229)</string>
	<key>tabithaJoppa</key>
	<string>Righteous Tabitha of Joppa (1st C)</string>
	<key>iveronTheotokos</key>
	<string>Iveron Icon of the Most Holy Theotokos (9th c.)</string>
	<key>springTheotokos</key>
	<string>Feast of the Life-Giving Spring of the Mother of God</string>
	<key>mozdokTheotokos</key>
	<string>Mozdok and Dubensky-Krasnohorská (17th C) Icons of the Mother of God</string>
	<key>chelnskoyTheotokos</key>
	<string>Chelnskoy and Pskov-Caves called “Tenderness” icons of the Mother of God</string>
	<key>tupichevskTheotokos</key>
	<string>Icons of the Mother of God “Tupichevsk” (1847) and “Cypriot” (392)</string>
	<key>koretsTheotokos</key>
	<string>Icon of the Mother of God “Surety of Sinners” in Korets (1622)</string>
	<key>softenerTheotokos</key>
	<string>Icons of the Mother of God: “the Softener of evil hearts” and “the Indestructible Wall”</string>
    <key>apodosis_pascha</key>
    <string>Apodosis of Pascha</string>
    <key>afterfeast_ascension</key>
    <string>Afterfeast of the Ascension</string>
    <key>apodosis_ascension</key>
    <string>Apodosis of the Ascension</string>
    <key>afterfeast_pentecost</key>
    <string>Afterfeast of Pentecost</string>
    <key>apodosis_pentecost</key>
    <string>Apodosis of Pentecost</string>
    <key>forefeast_nativityOfGod</key>
    <string>Forefeast of the Nativity</string>
    <key>afterfeast_nativityOfGod</key>
    <string>Afterfeast of the Nativity of Our Lord</string>
    <key>apodosis_nativityOfGod</key>
    <string>Apodosis of the Nativity of Christ</string>
    <key>forefeast_theophany</key>
    <string>Forefeast of Theophany</string>
    <key>afterfeast_theophany</key>
    <string>Afterfeast of the Theophany</string>
    <key>apodosis_theophany</key>
    <string>Apodosis of the Theophany</string>
    <key>forefeast_transfiguration</key>
    <string>Forefeast of the Transfiguration of the Lord</string>
    <key>afterfeast_transfiguration</key>
    <string>Afterfeast of the Transfiguration of the Lord</string>
    <key>apodosis_transfiguration</key>
    <string>Apodosis of the Transfiguration of the Lord</string>
    <key>forefeast_dormition</key>
    <string>Forefeast of the Dormition of the Mother of God</string>
    <key>afterfeast_dormition</key>
    <string>Afterfeast of the Dormition</string>
    <key>apodosis_dormition</key>
    <string>Apodosis of the Dormition</string>
    <key>forefeast_nativityOfTheotokos</key>
    <string>Forefeast of the Nativity of the Theotokos</string>
    <key>afterfeast_nativityOfTheotokos</key>
    <string>Afterfeast of the Nativity of the Theotokos</string>
    <key>apodosis_nativityOfTheotokos</key>
    <string>Apodosis of the Nativity of the Theotokos</string>
    <key>forefeast_exaltationOfCross</key>
    <string>Forefeast of the Exaltation of the Cross</string>
    <key>afterfeast_exaltationOfCross</key>
    <string>Afterfeast of the Exaltation of the Cross</string>
    <key>apodosis_exaltationOfCross</key>
    <string>Apodosis of the Exaltation of the Cross</string>
    <key>forefeast_entryIntoTemple</key>
    <string>Forefeast of the Entry of the Theotokos</string>
    <key>afterfeast_entryIntoTemple</key>
    <string>Afterfeast of the Entry of the Theotokos</string>
    <key>apodosis_entryIntoTemple</key>
    <string>Apodosis of the Entry of the Theotokos</string>
    <key>forefeast_annunciation</key>
    <string>Forefeast of the Annunciation</string>
    <key>apodosis_annunciation</key>
    <string>Apodosis of the Annunciation</string>
    <key>forefeast_meetingOfLord</key>
    <string>Forefeast of the Meeting of the Lord</string>
    <key>afterfeast_meetingOfLord</key>
    <string>Afterfeast of the Meeting of the Lord</string>
    <key>apodosis_meetingOfLord</key>
    <string>Apodosis of the Meeting of the Lord</string>
</dict>
</plist>
