<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Trinity Week</key>
	<string>圣三一周</string>
	<key>Bright Week</key>
	<string>光明周</string>
	<key>Svyatki</key>
	<string>圣诞节期周</string>
	<key>Dormition Fast</key>
	<string>圣母安息斋期</string>
	<key>Apostoles&apos; Fast</key>
	<string>使徒斋期</string>
	<key>Great Lent</key>
	<string>大斋期</string>
	<key>Nativity Fast</key>
	<string>圣诞斋期</string>
	<key>Fast day</key>
	<string>教会斋日
教会斋日
教会斋日</string>
	<key>Passion Week</key>
	<string>受难周</string>
	<key>Maslenitsa</key>
	<string>离肉周</string>
	<key>No fast</key>
	<string>无斋</string>
	<key>Fast-free week</key>
	<string>免斋周</string>
	<key>Fish allowed</key>
	<string>鱼可食</string>
	<key>Vegetarian</key>
	<string>果蔬</string>
	<key>Tone %@</key>
	<string>第%@调式</string>
	<key>Sunday %d after Pentecost</key>
	<string>五旬节后%d主日</string>
	<key>Week %d after Pentecost</key>
	<string>五旬节后%d周</string>
	<key>Language</key>
	<string>语言</string>
	<key>Font size</key>
	<string>字体大小</string>
	<key>Done</key>
	<string>完成</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>Options</key>
	<string>设置</string>
	<key>Prayerbook</key>
	<string>正教祈祷书</string>
</dict>
</plist>
