<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Angels</key>
	<string></string>
	<key>Apostle</key>
	<string></string>
	<key>Departed</key>
	<string></string>
	<key>Epiphany Eve</key>
	<string></string>
	<key>Equal-to-the Apostles</key>
	<string></string>
	<key>Equals-to-the Apostles</key>
	<string></string>
	<key>Eve of the Nativity</key>
	<string></string>
	<key>Fathers</key>
	<string></string>
	<key>Fool-for-Christ</key>
	<string></string>
	<key>Forerunner</key>
	<string></string>
	<key>Friday Reading</key>
	<string>星期五的讀經</string>
	<key>Great Martyr</key>
	<string></string>
	<key>Hierarch</key>
	<string></string>
	<key>Hierarchs</key>
	<string></string>
	<key>Holy Ancestors</key>
	<string></string>
	<key>Martyrs</key>
	<string></string>
	<key>Monday Reading</key>
	<string>星期一的讀經</string>
	<key>New Year</key>
	<string></string>
	<key>Passion-bearers</key>
	<string></string>
	<key>Prophet</key>
	<string></string>
	<key>Right-believing</key>
	<string></string>
	<key>Righteous</key>
	<string></string>
	<key>Saint</key>
	<string></string>
	<key>Saints</key>
	<string></string>
	<key>Saturday Reading</key>
	<string>星期六的讀經</string>
	<key>Saturday after the Nativity</key>
	<string></string>
	<key>Saturday after the Theophany</key>
	<string></string>
	<key>Saturday after the Universal Elevation</key>
	<string></string>
	<key>Saturday before the Nativity</key>
	<string></string>
	<key>Saturday before the Theophany</key>
	<string></string>
	<key>Saturday before the Universal Elevation</key>
	<string></string>
	<key>Sunday after the Nativity</key>
	<string></string>
	<key>Sunday after the Theophany</key>
	<string></string>
	<key>Sunday after the Universal Elevation</key>
	<string></string>
	<key>Sunday before the Nativity</key>
	<string></string>
	<key>Sunday before the Theophany</key>
	<string></string>
	<key>Sunday before the Universal Elevation</key>
	<string></string>
	<key>SundayAfterPentecost</key>
	<string>五旬節後第%@主日</string>
	<key>SundayOfGreatLent</key>
	<string>大齋期第%@主日</string>
	<key>Theotokos</key>
	<string></string>
	<key>Thursday Reading</key>
	<string>星期四的讀經</string>
	<key>Tuesday Reading</key>
	<string>星期二的讀經</string>
	<key>Venerable</key>
	<string></string>
	<key>Venerables</key>
	<string></string>
	<key>Wednesday Reading</key>
	<string>星期三的讀經</string>
	<key>WeekAfterPascha</key>
	<string>葩斯哈慶期第%@週</string>
	<key>WeekAfterPentecost</key>
	<string>五旬節後第%@週</string>
	<key>WeekOfGreatLent</key>
	<string>大齋期第%@週</string>
	<key>abrahamBulgar</key>
	<string>殉道者阿弗拉穆（保加利亞，1229年）</string>
	<key>afterfeast_ascension</key>
	<string>主升天節慶期</string>
	<key>afterfeast_dormition</key>
	<string>聖母安息節慶期</string>
	<key>afterfeast_entryIntoTemple</key>
	<string>至聖誕神女進殿節慶期</string>
	<key>afterfeast_exaltationOfCross</key>
	<string>舉揚聖架節慶期</string>
	<key>afterfeast_meetingOfLord</key>
	<string>主進殿節慶期</string>
	<key>afterfeast_nativityOfGod</key>
	<string>主降生慶期</string>
	<key>afterfeast_nativityOfTheotokos</key>
	<string>誕神女誕辰節慶期</string>
	<key>afterfeast_pentecost</key>
	<string>五旬節慶期</string>
	<key>afterfeast_theophany</key>
	<string>主顯節慶期</string>
	<key>afterfeast_transfiguration</key>
	<string>主易聖容節慶期</string>
	<key>annunciation</key>
	<string>誕神女福音節（我眾至聖之君後，誕神女，永貞瑪利亞領報節）</string>
	<key>apodosis_annunciation</key>
	<string>誕神女福音節慶期圓滿日</string>
	<key>apodosis_ascension</key>
	<string>主升天節慶期圓滿日</string>
	<key>apodosis_dormition</key>
	<string>聖母安息節慶期圓滿日</string>
	<key>apodosis_entryIntoTemple</key>
	<string>至聖誕神女進殿節慶期圓滿日</string>
	<key>apodosis_exaltationOfCross</key>
	<string>舉揚聖架節慶期圓滿日</string>
	<key>apodosis_meetingOfLord</key>
	<string>主進殿節慶期圓滿日</string>
	<key>apodosis_nativityOfGod</key>
	<string>主降生慶期圓滿日</string>
	<key>apodosis_nativityOfTheotokos</key>
	<string>誕神女誕辰節慶期圓滿日</string>
	<key>apodosis_pascha</key>
	<string>葩斯哈慶期圓滿日</string>
	<key>apodosis_pentecost</key>
	<string>五旬節慶期圓滿日</string>
	<key>apodosis_theophany</key>
	<string>主顯節慶期圓滿日</string>
	<key>apodosis_transfiguration</key>
	<string>主易聖容節慶期圓滿日</string>
	<key>apostles_fast</key>
	<string>使徒齋期</string>
	<key>ascension</key>
	<string>主升天節（紀念我們的主，上帝，救主耶穌基督神性的升天）</string>
	<key>beginningOfApostlesFast</key>
	<string>使徒齋期開始</string>
	<key>beginningOfDormitionFast</key>
	<string>聖母安息齋期開始</string>
	<key>beginningOfGreatLent</key>
	<string>大齋期開始</string>
	<key>beginningOfNativityFast</key>
	<string>主降生齋期</string>
	<key>beheadingOfJohn</key>
	<string>榮耀之先知，前驅，施浸禮者，聖約安授首紀念日</string>
	<key>brightWeek</key>
	<string>光明周</string>
	<key>cheesefareSunday</key>
	<string>離酪主日（寬恕主日）記念首先受造之人阿達穆因為樂園的禁果而墮落</string>
	<key>chelnskoyTheotokos</key>
	<string>琴斯托霍瓦及普斯科夫的「鄔彌勒涅」聖母像紀念日</string>
	<key>circumcision</key>
	<string>主耶穌基督受割禮日</string>
	<key>demetriusSaturday</key>
	<string>聖迪彌特里節前安息日：紀念亡者之安息日</string>
	<key>dormition</key>
	<string>聖母安息節（敬憶我眾之君後，至聖誕神女，永貞瑪利亞之安息）</string>
	<key>dormition_fast</key>
	<string>聖母安息齋期</string>
	<key>entryIntoTemple</key>
	<string>聖母進堂節</string>
	<key>eveOfNativityOfGod</key>
	<string>主降生節前日</string>
	<key>eveOfTheophany</key>
	<string>主顯節前夕</string>
	<key>exaltationOfCross</key>
	<string>普世舉揚尊貴施生命之十字聖架</string>
	<key>fast_day</key>
	<string>教會齋日</string>
	<key>fast_free</key>
	<string>免齋週</string>
	<key>fish_allowed</key>
	<string>魚可食</string>
	<key>forefeast_annunciation</key>
	<string>誕神女福音節前日</string>
	<key>forefeast_dormition</key>
	<string>至聖誕神女安息節前日</string>
	<key>forefeast_entryIntoTemple</key>
	<string>至聖誕神女進殿節前日</string>
	<key>forefeast_exaltationOfCross</key>
	<string>舉揚聖架節前日</string>
	<key>forefeast_meetingOfLord</key>
	<string>主進殿節前期</string>
	<key>forefeast_nativityOfGod</key>
	<string>主降生節前期</string>
	<key>forefeast_nativityOfTheotokos</key>
	<string>至聖誕神女誕辰前日</string>
	<key>forefeast_theophany</key>
	<string>主顯節前期</string>
	<key>forefeast_transfiguration</key>
	<string>主易聖容節前日</string>
	<key>greatFriday</key>
	<string>聖周星期五（主受難日）</string>
	<key>greatMonday</key>
	<string>聖周星期一（紀念英俊的古聖祖若瑟）</string>
	<key>greatSaturday</key>
	<string>聖周星期六</string>
	<key>greatThursday</key>
	<string>聖周星期四</string>
	<key>greatTuesday</key>
	<string>聖周星期二（紀念明智的童貞女）</string>
	<key>greatWednesday</key>
	<string>聖周星期三（悔罪女以香膏傅抹主聖足）</string>
	<key>great_lent</key>
	<string>大齋期</string>
	<key>holyFathersSeventhCouncil</key>
	<string>紀念第七次神聖普世大公會議之諸位聖父師</string>
	<key>holyFathersSixCouncils</key>
	<string>紀念前六次神聖普世大公會議之諸位聖教父</string>
	<key>holySpirit</key>
	<string>上帝聖靈日</string>
	<key>holyWeek</key>
	<string>聖週</string>
	<key>iveronTheotokos</key>
	<string>伊維隆聖母像紀念日（9世紀）</string>
	<key>josephArimathea</key>
	<string>義人亞利馬特的約瑟及尼科底姆</string>
	<key>josephBetrothed</key>
	<string>紀念義人聖約熙福——吾主之鞠父；聖王大衛——吾主之先祖；及聖雅各——吾主之聖昆</string>
	<key>killedInAction</key>
	<string>紀念亡者</string>
	<key>koretsTheotokos</key>
	<string>至聖誕神女“罪人之保”聖像（柯列茨卡婭，1622年）</string>
	<key>lazarusSaturday</key>
	<string>聖枝安息日（拉匝若復生之安息日）</string>
	<key>maslenitsa</key>
	<string>離肉週</string>
	<key>meetingOfLord</key>
	<string>主進殿節——紀念我們的主，上帝，救主被奉獻於聖殿，也紀念聖母取潔</string>
	<key>midPentecost</key>
	<string>五旬中節</string>
	<key>mozdokTheotokos</key>
	<string>「莫茲多克」和「杜本斯基•克拉斯諾霍」聖母像紀念日（17世紀）</string>
	<key>nativityOfGod</key>
	<string>主降生節（紀念我們的主，上帝，救主耶穌基督取肉軀而降生於世）</string>
	<key>nativityOfJohn</key>
	<string>尊貴前驅，先知，施浸禮者聖約翰誕辰</string>
	<key>nativityOfTheotokos</key>
	<string>聖母誕辰節（紀念我眾至聖之君後，誕神女，永貞瑪利亞之降生）</string>
	<key>nativity_fast</key>
	<string>聖誕齋期</string>
	<key>newMartyrsConfessorsOfRussia</key>
	<string>俄羅斯全體新殉道者及新宣信者</string>
	<key>no_fast</key>
	<string>無齋</string>
	<key>no_food</key>
	<string>完全的禁食</string>
	<key>palmSunday</key>
	<string>主進聖城耶路撒冷節（聖枝主日）</string>
	<key>pascha</key>
	<string>聖葩斯哈主日。自死者中榮耀地複活</string>
	<key>pentecost</key>
	<string>五旬節（上帝聖三主日——紀念至聖聖靈降臨於眾使徒）</string>
	<key>peterAndPaul</key>
	<string>神聖，榮耀，滿被讚揚者，使徒之長聖彼得及聖保羅</string>
	<key>radonitsa</key>
	<string>喜樂日。紀念亡者</string>
	<key>saturday1GreatLent</key>
	<string>紀念殉道者新兵德奧多若; 大殉道者新兵德奧多若（306年）</string>
	<key>saturday2GreatLent</key>
	<string>紀念亡者</string>
	<key>saturday3GreatLent</key>
	<string>紀念亡者</string>
	<key>saturday4GreatLent</key>
	<string>紀念亡者</string>
	<key>saturday5GreatLent</key>
	<string>讚頌上帝之母至聖誕神女：於晨時課中恭詠全分聖母弗坐詞禮儀</string>
	<key>saturdayAfterExaltation</key>
	<string>舉揚聖架節後安息日</string>
	<key>saturdayAfterNativity</key>
	<string>主降生節後安息日</string>
	<key>saturdayAfterTheophany</key>
	<string>主顯節後安息日</string>
	<key>saturdayBeforeExaltation</key>
	<string>舉揚聖架節前安息日</string>
	<key>saturdayBeforeNativity</key>
	<string>主降生節前安息日</string>
	<key>saturdayBeforeTheophany</key>
	<string>主顯節前安息日</string>
	<key>saturdayOfDeparted</key>
	<string>紀念亡者</string>
	<key>saturdayOfFathers</key>
	<string>所有於修行中顯耀之修道聖教父</string>
	<key>saturdayTrinity</key>
	<string>紀念亡者</string>
	<key>softenerTheotokos</key>
	<string>「軟化邪惡之心者」及「不可摧毀之壁壘」聖母像紀念日</string>
	<key>springTheotokos</key>
	<string>「施生命之泉」聖母像</string>
	<key>sunday1AfterPentecost</key>
	<string>諸聖主日</string>
	<key>sunday1GreatLent</key>
	<string>正教主日</string>
	<key>sunday2AfterPascha</key>
	<string>葩斯哈慶期第二主日（聖多馬主釋疑主日，主復活後主日）</string>
	<key>sunday2AfterPentecost</key>
	<string>俄羅斯全體聖徒</string>
	<key>sunday2GreatLent</key>
	<string>聖格里高利•帕拉瑪斯（德撒洛尼基總主教，1360年）</string>
	<key>sunday3AfterPascha</key>
	<string>葩斯哈慶期第三主日（攜香液女主日）</string>
	<key>sunday3GreatLent</key>
	<string>叩拜十字聖架</string>
	<key>sunday4AfterPascha</key>
	<string>葩斯哈慶期第四主日（起癱主日）</string>
	<key>sunday4GreatLent</key>
	<string>聖天梯約翰（西奈山修道院修士，〈天梯〉作者，649年）</string>
	<key>sunday5AfterPascha</key>
	<string>葩斯哈慶期第五主日（撒瑪利亞汲水婦主日）</string>
	<key>sunday5GreatLent</key>
	<string>埃及的大成德者聖女瑪利亞</string>
	<key>sunday6AfterPascha</key>
	<string>葩斯哈慶期第六主日（胎瞽者主日）</string>
	<key>sunday7AfterPascha</key>
	<string>葩斯哈慶期第七主日（紀念第一屆神聖普世大公會議諸聖教父）</string>
	<key>sundayAfterExaltation</key>
	<string>舉揚聖架節後主日</string>
	<key>sundayAfterNativity</key>
	<string>主降生節後主日</string>
	<key>sundayAfterTheophany</key>
	<string>主顯節後主日</string>
	<key>sundayBeforeExaltation</key>
	<string>舉揚聖架節前主日</string>
	<key>sundayBeforeNativity</key>
	<string>主降生節前主日——眾聖父主日</string>
	<key>sundayBeforeTheophany</key>
	<string>主顯節前主日</string>
	<key>sundayOfDreadJudgement</key>
	<string>離肉主日</string>
	<key>sundayOfForefathers</key>
	<string>眾聖祖主日</string>
	<key>sundayOfProdigalSon</key>
	<string>浪子主日</string>
	<key>sundayOfPublicianAndPharisee</key>
	<string>稅吏及法利塞人主日</string>
	<key>sundayOfZacchaeus</key>
	<string>匝凱主日</string>
	<key>svyatki</key>
	<string>聖誕節期週</string>
	<key>synaxisKievCavesSaints</key>
	<string>紀念聖髑安息於基輔窟的全體聖徒</string>
	<key>synaxisMartyrsButovo</key>
	<string>紀念布托沃地方全體新殉道者（莫斯科市西南區，1930年代）</string>
	<key>synaxisMoscowSaints</key>
	<string></string>
	<key>synaxisMountAthosSaints</key>
	<string>阿托斯聖山全體聖徒</string>
	<key>synaxisNizhnyNovgorodSaints</key>
	<string></string>
	<key>tabithaJoppa</key>
	<string>聖婦塔維塔（聖使徒裴特若所復活之寡婦，1世紀）</string>
	<key>tamaraGeorgia</key>
	<string>聖婦塔瑪拉（格魯吉亞之王后，1213年）</string>
	<key>theophany</key>
	<string>主顯節——我們的主，上帝，救主，耶穌基督神性的顯現，也即基督受浸禮節</string>
	<key>thursday5GreatLent</key>
	<string>大聖頌典星期四</string>
	<key>tone</key>
	<string>第%@調式</string>
	<key>transfiguration</key>
	<string>主易聖容節（我等主，上帝，救主耶穌基督易顯聖容）</string>
	<key>trinityWeek</key>
	<string>聖三一周</string>
	<key>tupichevskTheotokos</key>
	<string>塞浦路斯聖母像紀念日（392年）</string>
	<key>vegetarian</key>
	<string>果蔬</string>
	<key>veilOfTheotokos</key>
	<string>至聖誕神女帲幪節（聖母護守節）</string>
	<key>weekOfDreadJudgement</key>
	<string>離肉週</string>
	<key>weekOfProdigalSon</key>
	<string>浪子週</string>
	<key>weekOfPublicianAndPharisee</key>
	<string>稅吏及法利塞人周</string>
	<key>with_oil</key>
	<string>齋期（酒、油可食）</string>
	<key>without_oil</key>
	<string>食品免油</string>
	<key>xerophagy</key>
	<string>乾食</string>
</dict>
</plist>
