<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Choose color...</key>
	<string>选择颜色</string>
	<key>Default</key>
	<string>默认值</string>
	<key>Background color</key>
	<string>背景颜色</string>
	<key>Laymen fasting</key>
	<string>外行斋戒</string>
	<key>Monastic fasting</key>
	<string>修道院的禁食</string>
	<key>Fasting type</key>
	<string>禁食</string>
	<key>Add widget</key>
	<string>今天小部件的</string>
	<key>Rate Orthodox Calendar</key>
	<string>给正教日历评分</string>
	<key>Remind me later</key>
	<string>稍后提醒我</string>
	<key>No, thanks</key>
	<string>不，谢谢</string>
	<key>If you enjoy using Orthodox Calendar, would you mind taking a moment to rate it? It won&apos;t take more than a minute. Thanks for your support!</key>
	<string>如果你喜欢使用正教日历，你介意花一点时间给它评分吗？不会超过一分钟。感谢您的支持！</string>
	<key>(C) 2017 Brotherhood of Sts Apostoles Peter and Paul, Hong Kong. This app contains information from ponomar.net and orthodox.cn</key>
	<string>(C) 2017 香港聖彼得聖保羅教堂。本應用使用網站ponomar.net和orthodox.cn之資料</string>
	<key>Nuts</key>
	<string>坚果</string>
	<key>Bread</key>
	<string>面包</string>
	<key>Vegetables</key>
	<string>蔬菜</string>
	<key>Cheese</key>
	<string>奶酪</string>
	<key>Cupcake</key>
	<string>蛋糕</string>
	<key>Egg</key>
	<string>鸡蛋</string>
	<key>Milk</key>
	<string>牛奶</string>
	<key>Fish</key>
	<string>鱼</string>
	<key>Meat</key>
	<string>肉</string>
	<key>Prohibited</key>
	<string>禁止</string>
	<key>Allowed</key>
	<string>允许</string>
	<key>Library</key>
	<string>图书馆</string>
	<key>Prayers</key>
	<string>祈祷</string>
	<key>Eucharist</key>
	<string>圣餐礼</string>
	<key>Memory of saints</key>
	<string>本日記念之聖人</string>
	<key>Gospel of the day</key>
	<string>本日讀經</string>
	<key>Daily</key>
	<string>每日</string>
    <key>Typica</key>
    <string>感恩儀軌</string>
	<key>Trinity Week</key>
	<string>圣三一周</string>
	<key>Passion Week</key>
	<string>受难周</string>
	<key>Language</key>
	<string>语言</string>
	<key>Font size</key>
	<string>字体大小</string>
	<key>Done</key>
	<string>完成</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>Options</key>
	<string>设置</string>
	<key>Prayerbook</key>
	<string>正教祈祷书</string>
    <key>Bookmarks...</key>
    <string>书签...</string>
    <key>No bookmarks</key>
    <string>没有书签</string>
</dict>
</plist>
