<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en</key>
		<string>Помяни нас, Христе Спасе мира, якоже разбойника помянул еси на древе: и сподоби всех, Едине Щедре, Небесному Царствию Твоему.</string>
		<key>cn</key>
		<string>基督啊，世界的救主，求祢紀念我們，就如祢曾在十字架上紀念了強盜一樣：惟一仁慈者，求祢使我們眾人配得祢的天國。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Слыши, Адаме, и радуйся со Евою: яко обнаживый прежде обоя, и прелестию взем вас пленники, Крестом Христовым упразднися.</string>
		<key>cn</key>
		<string>亞當，請聽，與厄娃一起歡欣吧，因為那在古時使你們二人裸露，以迷誤使你們成為囚徒的魔鬼，已被基督的十字架剝奪了力量。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>На древе пригвожден быв, Спасе наш, волею, яже от древа клятвы Адама избавил еси, воздая, яко Щедр, еже по образу, и райское селение.</string>
		<key>cn</key>
		<string>我們的救主，祢甘願被釘十字架，從因樹而來的詛咒中救贖了亞當，作為仁慈者，在他內恢復了祢的肖像，重新賜予樂園的居所。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Днесь Христос воскрес от гроба, всем верным подая нетление, и радость обновляет мироносицам по страсти и Воскресении.</string>
		<key>cn</key>
		<string>今日基督從墳墓裏復活，將不朽賜予全體信者，在受難復活之後，更新了攜香液女的喜樂。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Радуйтеся мудрыя жены мироносицы,  первыя Христово Воскресение видевша, и Его возвестивша апостолом, всего мира воззвание.</string>
		<key>cn</key>
		<string>慶哉，睿智的攜香液女，妳們最先得見基督的復活，向使徒們宣告了普世的復原。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Друзи Христовы апостоли явльшеся,  сопрестольни Его славе быти имуще, со дерзновением Тому нам предстати, яко ученицы Его молитеся.</string>
		<key>cn</key>
		<string>眾使徒，你們被示顯為基督之友，你們將要與祂在榮耀中一同坐於寶座之上，你們是祂的門徒，求你們代禱，使我們得以大膽無懼地呈現在祂面前。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Безначальная Троице, Нераздельное Существо, Сопрестольная Единице, Единочестная славою, Преначальное Естество и Царство, спасай, иже верою воспевающих Тя.</string>
		<key>cn</key>
		<string>無始的聖三，不可分離的本元，如一人於寶座之上，受享同等榮耀，超越一切原始的本性及王權，求祢拯救以信心歌頌祢的人。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Радуйся, Божие пространное Вместилище; радуйся, Ковчеже новаго завета; радуйся, ручко, из Неяже манна всем дадеся небесная.</string>
		<key>cn</key>
		<string>慶哉，廣闊的上帝居所！慶哉，新約的約櫃！慶哉，賜予屬天瑪納的鑲金器皿！</string>
	</dict>
	<dict>
		<key>en</key>
		<string>С высоты снизшел еси, Благоутробне, погребение приял еси тридневное, да нас свободиши страстей, Животе и Воскресение наше, Господи, слава Тебе.</string>
		<key>cn</key>
		<string>仁慈者，祢從高天降臨，接受了在墳墓中的三日埋葬，為將我們從欲情中釋放，主啊，我們的生命與復活，榮耀歸於祢。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Воскрес из гроба, умершыя воздвигл еси, и Адама воскресил еси, и Ева ликует во Твоем Воскресении, и мирстии концы торжествуют еже из мертвых востанием Твоим, Многомилостиве.</string>
		<key>cn</key>
		<string>至仁慈者，當祢由墳墓中復活時，祢使死者複起，使亞當復活。厄娃也因祢的復活而歡舞，地極也因祢自死者中的複起而歡慶。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Помолитеся и воздадите Господеви Богу нашему. </string>
		<key>cn</key>
		<string>你們要向上主，我們上帝祈禱、還願。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Ведом во Иудеи Бог, во Израили велие Имя Его.</string>
		<key>cn</key>
		<string>上帝在猶大地廣為人知，祂的名在以色列為大。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Приидите, возрадуемся Господеви, воскликнем Богу Спасителю нашему.</string>
		<key>cn</key>
		<string>前來，讓我們在上主內喜樂，向我們的救主高歌歡呼。</string>
	</dict>
	<dict>
		<key>en</key>
		<string>Предварим лице Его во исповедании, и во псалмех воскликнем Ему.</string>
		<key>cn</key>
		<string>讓我們一齊到祂面前，感恩讚頌，以聖詠向祂歡呼。</string>
	</dict>
</array>
</plist>
