<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ru</key>
		<string>Красен бе и добр в снедь, иже мене умертвивый плод: Христос есть Древо животное, от Негоже ядый не умираю, но вопию с разбойником: помяни мя Господи, во Царствии Твоем.</string>
		<key>cn</key>
		<string>致死我的果實悅目且美味，但基督是生命之樹，食用祂我將不會死亡，我卻要與右盜一起高呼：主啊，在祢的國度中請紀念我！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>На Крест вознесся Щедре, Адамово рукописание древняго греха загладил еси, и спасл еси от прелести весь род человеческий. Темже воспеваем Тя, благодетелю Господи.</string>
		<key>cn</key>
		<string>仁慈者，祢被高舉在十字架上，祢抹去了亞當古時的罪券，拯救整個人類脫離迷誤。因此，主及恩賜者，我們歌頌祢。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Пригвоздил еси на Кресте Щедре, грехи наша Христе, и Твоею смертию смерть умертвил еси воздвигнувый умершия из мертвых: темже покланяемся Твоему святому воскресению.</string>
		<key>cn</key>
		<string>仁慈的基督，祢將我們的罪釘在十字架上，以祢的死亡致死了死亡，由死者中使死者複起。因此，我們敬拜祢神聖的復活。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Излия яд змий в слухи Евины иногда:  Христос же на Древе крестнем источил есть мирови жизни сладость. Темже взываем: помяни нас Господи, во Царствии Твоем.</string>
		<key>cn</key>
		<string>蛇曾向厄娃的雙耳傾吐毒液；基督在十字架上卻將生命的甘飴傾流於世界。因此，我們高呼：主啊，在祢的國度中請紀念我們！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Во гробе яко смертен положен был еси, Животе всех Христе: и вереи адовы сломил еси: и воскрес во славе тридневен яко силен, всех просветил еси: слава Твоему востанию.</string>
		<key>cn</key>
		<string>基督，萬有的生命，祢如屍體一般被安放於墳墓；祢打碎了陰府的大門；又在第三日榮耀地復活，因祢是大能者，祢光照了衆人。榮耀歸於祢的復活！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Господь воскрес тридневен из мертвых,  дарова мир Свой учеником, и сих благословив посла, рек: вся приведите во Царствие Мое.</string>
		<key>cn</key>
		<string>主于第三日自死者中復活，將祂的平安賜予自己的門徒；並祝福他們，派遣他們傳道，說：你們要將衆人領進我的國度。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Свет Отец, свет Сын и Слово, свет Дух Святый, но един Свет три, един бо Бог в триех убо Лицех, единем же естестве и начале, несеком и неслиян, Сый превечный.</string>
		<key>cn</key>
		<string>父是光明，子及聖言是光明，聖靈是光明，但三者乃是同一光明，因為祂們是三個位格內的同一上帝，在本性及根源上為一，不可分割，不可混淆，永恆常存。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Родила еси Сына и Слово Отчее, плотию нас ради, якоже весть, Богородице, Сам. Темже, Дево Мати, обожени бывше Тобою,  радуйся, Тебе зовем, христианом упование.</string>
		<key>cn</key>
		<string>誕神女，為了我們，妳以父之聖子及聖言自己所知的方式，使祂在肉身內誕生。因此，童貞之母，我等藉著妳被神化之人向妳高呼：慶哉，基督徒的希望。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Разрушил еси Крестом Твоим смерть,  отверзл еси разбойнику рай; мироносицам плач преложил еси и Апостолом проповедати повелел еси, яко воскресл еси, Христе Боже, даруяй мирови велию милость.</string>
		<key>cn</key>
		<string>祢以祢的十字架摧毀了死亡，爲右盜開啟了樂園之門，使攜香液女轉悲爲喜，命自己的使徒傳報：上帝基督，祢已復活，並賜予普世宏恩。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Не ктому держава смертная возможет держати человеки: Христос бо сниде, сокрушая и разоряя силы ея. Связуем бывает ад, пророцы согласно радуются: предста, глаголюще, Спас сущим в вере, изыдите, вернии, в воскресение.</string>
		<key>cn</key>
		<string>死亡的權勢再也無法俘獲世人，因為基督降臨，擊碎並摧毀了死亡的權能。陰府被束縛，眾先知一道喜樂，宣告說：救主已顯現於懷有信德之人。信者啊，你們出來獲得復活吧！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Господь крепость людем Своим даст, Господь благословит люди Своя миром.</string>
		<key>cn</key>
		<string>上主必將勇力賜給他的百姓，上主必以平安降福他的人民。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Принесите Господеви, сынове Божии, принесите Господеви сыны овни.</string>
		<key>cn</key>
		<string>上帝的眾子，請向上主獻祭，請將羔羊獻給上主。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Благо есть исповедатися Господеви, и пети имени Твоему Вышний.</string>
		<key>cn</key>
		<string>至高者，最幸福的事情，是讚美上主，歌頌祢名。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Возвещати заутра милость Твою, и истину Твою на всяку нощь.</string>
		<key>cn</key>
		<string>清晨傳揚祢的仁慈，夜間宣講祢的真理。</string>
	</dict>
</array>
</plist>
