<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ru</key>
		<string>Разбойник на кресте Бога Тя быти веровав, Христе, исповеда Тя чисте от сердца, помяни мя, Господи, вопия, во Царствии Твоем.</string>
		<key>cn</key>
		<string>基督，右盜在十字架上相信了祢就是上帝，以純潔的心宣認了祢，高呼道：主啊，在祢的國中請紀念我！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Иже на древе крестнем жизнь процветшаго роду нашему, и изсушивша юже от древа клятву, яко Спаса и Содетеля согласно воспоим.</string>
		<key>cn</key>
		<string>讓我們同聲讚美救主與造主，祂為我們人類在十字聖木上開出了生命之花，讓知善惡樹帶來的詛咒枯萎。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Смертию Твоею, Христе, смертную разрушил еси силу, и совоздвигл еси иже от века умершыя, Тя поющия истиннаго Бога и Спаса нашего.</string>
		<key>cn</key>
		<string>基督啊，祢以祢的死亡毀滅了死亡的能力，使自古以來歷代的死者于祢一同複起，他們歌頌祢，真實的上帝和我們的救主。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>На гроб Твой, Христе, пришедша жены честныя, искаху Тя, Жизнодавче, миропомазати, и явися им ангел вопия: воскресе Господь.</string>
		<key>cn</key>
		<string>虔誠的婦女們來到祢的墳墓，尋找祢，賦予生命者啊，好能以香液傅抹祢；但一位天使向她們顯現，高呼：主已復活了！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Распеншу Ти ся, Христе, посреде двою осужденною разбойнику, един убо хуля Тя, осужден бысть праведне: другий же исповедая Тя, в рай вселися.</string>
		<key>cn</key>
		<string>基督，當祢被釘在兩個被判刑的強盜中時，其中褻瀆祢的那人被公義地定罪，另一位宣認祢的人則進入樂園安居。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Ко апостолов лику пришедша жены честныя, возопиша: Христос воскресе, яко Владыце и Содетелю Тому поклонимся.</string>
		<key>cn</key>
		<string>虔誠的婦女們來到使徒的歌團，高呼：基督復活了！讓我們敬拜作為君宰及造主的祂！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Троице Нераздельная, Единице Вседетельная и Всесильная, Отче, Сыне и Святый Душе, Тебе поем Истиннаго Бога и Спаса нашего.</string>
		<key>cn</key>
		<string>聖三啊，不可分割的一體，萬有的創造者及全能者，父，子及聖靈，我們讚美祢，真實的上帝和我們的救主。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Радуйся, одушевленный Храме Божий и Врата Непроходимая; радуйся, неопалимый и огнеобразный Престоле; радуйся, Мати Еммануила, Христа Бога нашего.</string>
		<key>cn</key>
		<string>慶哉，擁有生命的上帝聖殿，不可通過的門戶！慶哉，烈焰燃燒卻未被焚燬的寶座！慶哉，厄瑪奴耳──我們的上帝基督的母親！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Собезначальное Слово Отцу и Духови, от Девы рождшееся на Спасение наше, воспоим, вернии, и поклонимся; яко благоволи Плотию взыти на Крест, и смерть претерпети, и воскресити умершия  славным воскресением Своим.</string>
		<key>cn</key>
		<string>諸信眾，讓我們讚頌敬拜與父及聖靈同為無始者的聖言，爲了我們的救恩，祂由童貞女誕生，因為祂欣然以肉身登上了十字架，承受了死亡，並藉祂榮耀的復活，復活了已死之人。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Ко аду, Спасе мой, сошел еси, и врата сокрушивый яко всесилен, умерших, яко Создатель, совоскресил еси, и смерти жало сокрушил еси, и Адам от клятвы избавлен бысть, Человеколюбче; темже вси зовем: спаси нас, Господи.</string>
		<key>cn</key>
		<string>我的救主啊，祢將至陰府，作為大能者，祢粉碎了陰府的大門，作為造主，祢使死者與祢一起復活，基督啊，祢拔除了死亡的芒刺，熱愛世人者啊，你由詛咒之中將亞當救出。因此，我們衆人向祢高呼：主啊，求祢拯救我們！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Ты, Господи, сохраниши ны, и соблюдеши ны от рода сего и во век.</string>
		<key>cn</key>
		<string>上主，祢必從這一世代存守我們，護佑我們，直到永遠。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Спаси мя, Господи, яко оскуде преподобный.</string>
		<key>cn</key>
		<string>上主，求祢拯救我，因為義人已不復存在。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Милости Твоя, Господи, во век воспою, в род и род возвещу истину Твою усты моими.</string>
		<key>cn</key>
		<string>上主，我要永永遠遠歌詠祢的仁慈，要世世代代親口稱揚祢的真理。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Зане рекл еси: в век милость созиждется, на небесех уготовится истина Твоя.</string>
		<key>cn</key>
		<string>祢原說過：我的仁慈將永遠奠定，在諸天要確定祢的真理。</string>
	</dict>
</array>
</plist>
