<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ru</key>
		<string>Снедию изведе из рая враг Адама: Крестом же разбойника введе Христос вонь,  помяни мя, зовуща, егда приидеши во Царствии Твоем.</string>
		<key>cn</key>
		<string>敵人以食物將亞當引出樂園：但基督以十字架將右盜帶回樂園，他高呼道：當祢來為王時，請紀念我！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Покланяюся страстем Твоим, славословлю и Воскресение со Адамом и разбойником, со гласом светлым вопию Ти: помяни мя Господи, егда приидеши во Царствии Твоем.</string>
		<key>cn</key>
		<string>我與亞當及右盜一起朝拜你的苦難，榮耀祢的復活；以光明之聲向祢高呼：主啊，當祢來為王時，請紀念我！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Распялся еси безгрешне, и во гробе положился еси волею, но воскресл еси яко Бог, совоздвигнувый Себе Адама, помяни мя, зовуща, егда приидеши во Царствии Твоем.</string>
		<key>cn</key>
		<string>哦，無罪者，祢自願被釘十字架，又被置於墳墓；但祢作為上帝又復活，使亞當與祢一同複起，他向祢高呼道：當祢來為王時，請紀念我！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Храм Твой телесный тридневным Воскресивый погребением, со Адамом, и иже от Адама, воскресил еси Христе Боже:  помяни нас зовущих, егда приидеши во Царствии Твоем.</string>
		<key>cn</key>
		<string>祢以三日的埋葬復活了你肉軀的聖殿，基督上帝啊，祢復活了亞當與他的後裔，他們高呼道：當祢來為王時，請紀念我們！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Мироносицы приидоша плачуща, на гроб Твой Христе Боже, зело рано: и в белых ризах обретоша Ангела седяща, что ищете; зовуща. Воскресе Христос, не рыдайте прочее.</string>
		<key>cn</key>
		<string>清早，攜香液女前往祢的墳墓哭泣，基督上帝啊；她們發現一位身著白衫的天使坐在那裡，說：你們找誰？基督已復活！勿要再悲泣！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Апостоли Твои Господи на гору, аможе повелел еси им, пришедше Спасе, и Тя видевше поклонишася. Ихже и послал еси во языки учити и крестити я.</string>
		<key>cn</key>
		<string>主啊，祢的使徒來到祢所命令前往的山上，他們見到了祢，救主啊，就朝拜了祢；祢將使徒派向普世萬民，教導他們，為他們洗禮。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Отцу поклонимся, и Сына славословим, и Пресвятаго Духа вкупе воспоим, зовуще и глаголюще: Всесвятая Троице, спаси всех нас.</string>
		<key>cn</key>
		<string>讓我們朝拜父，讓我們榮贊子，也一道向至聖聖靈歌唱，我們呼求、高聲說：至聖聖三，拯救我等及萬民！</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Матерь Твою приводят Ти в молитву, людие Твои Христе: мольбами Ея щедроты Твоя даждь нам Благий, да Тя прославляем, из гроба нам возсиявшаго.</string>
		<key>cn</key>
		<string>基督啊，祢的子民將祢的母親呈現給祢，以求代禱。聖善者啊，藉著她的代禱，憐憫我們，如此我們將能榮耀從墳墓中向我們顯現光明的祢。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Камени запечатану от иудей и воином стрегущим Пречистое Тело Твое, воскресл еси тридневный, Спасе, даруяй мирови жизнь. Сего ради силы Небесныя вопияху Ти, Жизнодавче: слава воскресению Твоему, Христе, слава Царствию Твоему, слава смотрению Твоему, Едине Человеколюбче.</string>
		<key>cn</key>
		<string>救世主，猶太人蓋封印于巨石之上，兵士看守著祢至潔無瑕的遺體，祢在第三天復活，賦予普世生命。因此，天國的軍旅向祢──賦予生命者高呼：基督，榮耀歸於祢的復活，榮耀歸於祢的國度，榮耀歸於祢的聖意，祢是惟一熱愛世人者。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Воскресл еси яко Бог из гроба во славе, и мир совоскресил еси, и естество человеческое яко Бога воспевает Тя, и смерть исчезе; Адам же ликует, Владыко, Ева, ныне от уз избавляема, радуется, зовущи: Ты еси, Иже всем подая, Христе, воскресение.</string>
		<key>cn</key>
		<string>作為上帝，祢在榮耀中從墳墓復活，並使世界與祢一同複起。人性歌贊作為上帝的祢，死亡也已消失。君宰，亞當舞蹈，現今厄娃也從束縛中得到釋放，她歡欣踴躍道：是祢，基督，賜予衆人復活。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Буди, Господи, милость Твоя на нас, якоже уповахом на Тя. </string>
		<key>cn</key>
		<string>上主，求你向我們廣施慈愛，有如我們對你所存的期待。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Радуйтеся, праведнии, о Господе, правым подобает похвала.</string>
		<key>cn</key>
		<string>義人，你們應向上主踴躍歡呼，因為正直的人，理應讚美上主。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Бог даяй отмщение мне, и покоривый люди под мя. </string>
		<key>cn</key>
		<string>上帝，是你為我伸冤復仇，求你使萬民都向我屈服。</string>
	</dict>
	<dict>
		<key>ru</key>
		<string>Величаяй спасения Царева, и творяй милость Христу своему Давиду, и семени Его до века.</string>
		<key>cn</key>
		<string>因為是你頌贊了君王的救恩，對你的受傅者達味和他的後裔，廣施了仁愛慈惠，至於無窮之世。</string>
	</dict>
</array>
</plist>
